.be-friends__main{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding: 20px 0 60px 0;
    background-image: url("../../assets/be-firends-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;    
}

.be-friends__title{
    display: flex;
    align-items: center;
    h2{
        font-size: 70px;
        font-family: forma-djr-micro, Arial, sans-serif;
        color: #fff;
    }
}

.hr-line2{
    background-color: #fff;
}


.be-friends__title2{
    display: flex;
    align-items: center;
    p{
        font-size: 34px;
        font-family: forma-djr-micro, Arial, sans-serif;
        color: #fff;
    }
}

.be-friends__social{
    padding-top: 220px;
    display: flex;
    align-items: center;
    gap: 0 30px;
    a{
        transition: 0.3s;
        font-size: 30px;
        text-decoration: none;
        color: #fff;
        &:hover{
            transform: scale(1.2);
        }
    }
}



@media screen and (max-width: 756px) {
    .be-friends__title{
        h2{
            font-size: 40px;

        }
    }
    .be-friends__title2{
        p{
            font-size: 16px;

        }
    }
    .be-friends__social{
        a{
            font-size: 20px;
        }
    }
}